# Local Django settings
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
SQLITE_PATH=backend/db.sqlite3

SECRET_KEY=change_me_64_char_random_secret_key_here_very_long
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# TMDB API
TMDB_API_KEY=your_tmdb_api_key_here

# URLs
CORS_ORIGINS=http://localhost:3000,https://yourdomain.com
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_HLS_BASE=http://localhost:8000/hls

MEDIA_PATH=backend/media
HLS_PATH=backend/hls
TIME_ZONE=Asia/Tashkent
